.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--radius-md);
  font-weight: var(--font-weight-semibold);
  border: none;
  cursor: pointer;
  width: 100%;
  box-shadow: var(--shadow-sm);
}

.btn:disabled {
  background-color: var(--color-disabled);
  color: var(--color-surface);
  cursor: not-allowed;
  box-shadow: none;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-surface);
}

.danger {
  background-color: var(--color-danger);
  color: var(--color-surface);
}

.secondary {
  background-color: var(--color-surface);
  color: var(--color-text-main);
  border: var(--border-width-sm) solid var(--color-border);
}